<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>CLIENT_ID</key>
   <string>99517079861-vi6pp1tlkp8hbvgpvoqredubh7jlf9lm.apps.googleusercontent.com</string>
   <key>REVERSED_CLIENT_ID</key>
   <string>com.googleusercontent.apps.99517079861-vi6pp1tlkp8hbvgpvoqredubh7jlf9lm</string>
   <key>API_KEY</key>
   <string>AIzaSyDckO5teGfckGAQ7GIl0IdgQM2pl3aX8kc</string>
   <key>GCM_SENDER_ID</key>
   <string>99517079861</string>
   <key>PLIST_VERSION</key>
   <string>1</string>
   <key>BUNDLE_ID</key>
   <string>com.example.sdsl</string>
   <key>PROJECT_ID</key>
   <string>sdsl-89bde</string>
   <key>STORAGE_BUCKET</key>
   <string>sdsl-89bde.appspot.com</string>
   <key>IS_ADS_ENABLED</key>
   <false></false>
   <key>IS_ANALYTICS_ENABLED</key>
   <false></false>
   <key>IS_APPINVITE_ENABLED</key>
   <true></true>
   <key>IS_GCM_ENABLED</key>
   <true></true>
   <key>IS_SIGNIN_ENABLED</key>
   <true></true>
   <key>GOOGLE_APP_ID</key>
   <string>1:99517079861:ios:16429cc70069537b366c7c</string>
</dict>
</plist>